# global options
{
  email {{ vault_smtp_user }}
}

# port multiplexing: Headscale and Kanidm shares port 443
{{ caddy_domain }} {

  # route Kanidm IAM Traffic
  @kanidm path /ui* /oauth2* /v1* /rs* /status* /pkg* /icons* /favicon.ico
    handle @kanidm {
      # Kanidm uses HTTPS strictly. We tell Caddy to connect via HTTPS
      # but ignore the backend's self-signed certificate.
      reverse_proxy https://10.10.20.5:443 {
        transport http {
            tls_insecure_skip_verify
        }
      }
    }

  # Headscale: default fallback
  handle {
    # Headscale listens locally on plain HTTP, Caddy wraps it in HTTPS
    reverse_proxy http://10.10.20.6:8080
  }

}

# Proxmox UI
proxmox.internal, {{ caddy_domain }}:8006 {
  reverse_proxy https://143.106.45.162:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
