version = "2"
bindaddress = "0.0.0.0:443"
ldapbindaddress = "0.0.0.0:636"
origin =  "{{ kanidm_origin }}"
domain = "{{ kanidm_domain }}"
db_path = "/var/lib/kanidmd/kanidm.db"
tls_chain = "/etc/kanidm/chain.pem"
tls_key = "/etc/kanidm/key.pem"
